<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virtualvolunteer">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Virtual Volunteer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualVolunteer">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Home"
            android:parentActivityName=".Login" />
        <activity
            android:name=".PostCreate"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Search"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Log"
            android:parentActivityName=".Home" />
        <activity
            android:name=".LogSubmit"
            android:parentActivityName=".Log" />
        <activity
            android:name=".LogVerify"
            android:parentActivityName=".Log" />
        <activity
            android:name=".Saved"
            android:parentActivityName=".Home" />
        <activity android:name=".Profile" />
        <activity
            android:name=".ProfileEdit"
            android:parentActivityName=".Profile" />
    </application>

</manifest>