<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virtualvolunteer">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/volunteer"
        android:label="Reach"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualVolunteer">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:parentActivityName=".Login" />
        <activity
            android:name=".HomePage.Home"
            android:parentActivityName=".Login" />
        <activity
            android:name=".HomePage.PostCreate"
            android:parentActivityName=".HomePage.Home" />
        <activity
            android:name=".SearchPage.Search"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".HomePage.Home" />
        <activity
            android:name=".LoggingPage.Log"
            android:parentActivityName=".HomePage.Home" />
        <activity
            android:name=".LoggingPage.LogSubmit"
            android:parentActivityName=".LoggingPage.Log" />
        <activity
            android:name=".LoggingPage.LogVerify"
            android:parentActivityName=".LoggingPage.Log" />
        <activity
            android:name=".SavedPage.Saved"
            android:parentActivityName=".HomePage.Home" />
        <activity android:name=".ProfilePage.Profile" />
        <activity
            android:name=".ProfilePage.ProfileEdit"
            android:parentActivityName=".ProfilePage.Profile" />
    </application>
</manifest>